


.foot{
    background-image:linear-gradient(rgba(25,43,76,0.8),rgba(25,43,76,0.8)), url("images/phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

 
}
.foot h2{
  font-size: 40px;
    text-shadow: 2px 2px white;
}
.foot h3{
  font-size:30px;
  font-weight: bold;
  color:white;
}
 
